extends layout

block content
  script(src='/scripts/controllers/controlArea.js', type='text/javascript')
  script(src='/scripts/services/sessionStore.js', type='text/javascript')
  link(rel='stylesheet', href='/styles/inprogress.css')

  .col-md-12
    h1= eventID

  .left-wrapper.col-md-4.col-sm-12.col-xs-12
    .chat-area
  .right-wrapper.col-md-8.col-sm-12.col-xs-12
    .control-area(ng-controller="controlAreaController")
      .progress
        .progress-bar.progress-bar-striped.active(role="progressbar", aria-valuenow="40", aria-valuemin="0", aria-valuemax="100", style="width:{{progress}}%")

      .player-info
        table#playerInfo.table.table-condensed.table-hover
          tr.playerRow(ng-repeat="match in matches.rounds[currentRound-1] track by $index", ng-class="lockRows[$index]")
            td.score.left
              input(type="number", min="0", ng-disabled="(lockRows[$index]=='disabled')", ng-model="matchScore[$index].left")
            td.player.left(ng-class="highlightWinner($index, 'left')") {{playerNames[match.players[0]]}}
            td.player.right(ng-class="highlightWinner($index, 'right')") {{playerNames[match.players[1]]}}
            td.score.right
              input(type="number", min="0", ng-disabled="(lockRows[$index]=='disabled')", ng-model="matchScore[$index].right")
            td.confirm-results
              input(type="checkbox", ng-model="lockRows[$index]", ng-true-value="'disabled'", ng-false-value="", ng-change="checkProgress($index)")
              | Confirm
      button.btn.btn-primary.btn-lg Complete Round
      .clock-area.input-group
        span.format(ng-repeat="format in time.formats").input-group-btn 
          button.btn.btn-secondary(type="button") {{format.name}}
        .timer
