extends layout

block content
  script(src='/scripts/directives/presetConfigsList.js', type='text/javascript')
  script(src='/scripts/directives/formatsDropDown.js', type='text/javascript')
  script(src='/scripts/controllers/setupEvent.js', type='text/javascript')
  script(src='/scripts/services/sessionStore.js', type='text/javascript')
  script(src='/scripts/services/focus.js', type='text/javascript')
  link(rel='stylesheet', href='/styles/setup.css')

  div(ng-controller='setupEventController')
    .tricolumn.col-xs-12.col-sm-12.col-md-4#left.presetConfigs
      input(type="search", placeholder="fill data from previous event", size="20")#searchPreviousEvent.form-control
      h3 Preset Configurations
      .presetConfigsList.list-group
        a.list-group-item.presetConfigListItem(ng-repeat="item in configs")
          h4.list-group-item-heading.{{item.name}}
          p.list-group-item-text {{item.text}}

    .tricolumn.col-xs-12.col-sm-6.col-md-4#middle.newEventForm
      .addPlayerForm#addPlayerForm
        form
          input(type="text", placeholder="player's name", ng-model="playerName").addPlayerName.center-block.form-control#playerName
          input(type="text", placeholder="notes about player", ng-model="playerNotes").addPlayerNote.center-block.form-control
          input(type="submit", value="Add").addPlayerButton.center-block.btn.btn-default.navbar-btn(ng-click="addPlayer(playerName, playerNotes)")
      label(for="formats") Format
      select.formatsDropDown(name="formats", ng-model="chosenFormat", ng-options="format for format in formats")
      button.startNewEvent.btn.btn-link#startNewEvent(ng-click="startNewEvent()") Finished Setup
    .tricolumn.col-xs-12.col-sm-6.col-md-4#right.newEventPlayerData
      table.playersTable.table.table-condensed.table-hover
        thead
          thead
            tr
              td Player Name
              td Notes
        tr(ng-repeat="player in players track by $index")
          td {{player.name}}
          td {{player.notes}}
