td.score input{
  width:100px;
}
.table-hover > tbody > tr.playerRow:hover,tr.playerRow {
  background-color:#FF4141;
}
.table-hover > tbody > tr:hover.playerRow.disabled, tr.playerRow.disabled {
  background-color:#93FF93;
}
.progress {
  height:45px;
}
td.player.winner {
  background-image: url('/images/triangle.png');
  background-repeat: no-repeat;
  background-position:bottom;
}