.addPlayerName, .addPlayerNote, #searchPreviousEvent, .playersToAdd {
  display:block;
}
.addPlayerButton {
  margin-top:10px;
  margin-bottom:10px;
}
.startNewEvent {
  display:block;
  margin:auto;
}
